@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';

@theme {
  --font-heading: "'GFS Didot'", serif;
  --font-body: "Roboto", sans-serif;
}

@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  /* Firefox, IE and Edge */
  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}

*{
  scroll-behavior: smooth;
}

html {
  background: radial-gradient(circle at center, #0f0f0f, #000);
  color-scheme: dark;
}

body{
  background-color: black;
}

@media screen and (max-width: 768px) {
  /* .fullNav {
    display: none;
  } */
}